<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>macave</name>
	<displayName><![CDATA[Ma cave]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module Prestashop pour gérer ses bouteilles de vin.]]></description>
	<author><![CDATA[Timothée Janvier]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
